@model JapanUsedMachines.Models.MachineModel
@{
    string Operation = string.Empty;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-sm-12 log-form">
            @if (!string.IsNullOrEmpty(Model.MachineId))
            {
                Operation = "EditMachine";
            }
            else
            {
                Operation = "AddNewMachine";
            }

            @using (Html.BeginForm(Operation, "Machine", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form form-horizontal col-sm-5 col-sm-push-4" }))
            {

                    <!--<form class="form form-horizontal col-sm-5 col-sm-push-4" method="post" action="http://localhost:19001/api/japanusedmachines" enctype="multipart/form-data">-->
                <div class="form-group">
                    <label for="emailAddress" class="col-sm-4">Machine ID:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(p => p.MachineId, new { @class = "form-control", required = "required" })

                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-4">Machine Type:</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(p => p.MachineType, new SelectList(Model.MachineTypes, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-4">Manufacturer:</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(p => p.Manufacturer, Model.Manufacturers, new { @class = "form-control" })
                    </div>
                </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4">Price:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4">Model:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(p => p.Model, new { @class = "form-control", required = "required" })


                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4">Year:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(p => p.Year, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4">RPM:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(p => p.RPM, new { @class = "form-control", required = "required" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4">Table :</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(p => p.Table, new { @class = "form-control", required = "required" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4">Description :</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4">Machine Pictures</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(p => p.files, "", new { @type = "file", @multiple = "multiple", @class = "form-control" })

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="password" class="col-sm-4">Sold:</label>
                        <div class="col-sm-8">
                            @Html.CheckBoxFor(p => p.Sold, new { @class = "form-control" })
                            <input type="hidden" id="Issold" name="Issold" />
                        </div>
                    </div>
                    <div>
                        @Html.HiddenFor(p => p.hiddenMachineText)
                        @Html.HiddenFor(p => p.hiddenManufacturerText)
                    </div>
                    <div class="form-group">
                        <label for="text" class="col-sm-4"></label>
                        <div class="col-sm-4">
                            <input type="submit" class="form-control hvr-bounce-to-right" value="@ViewBag.Machine">
                           <!-- <input type="submit" class="form-control btn btn-primary"  /> -->
                        </div>
                    </div>

            }
        </div>
    </div>
</div>
